.principal {
  background-color: #fff;
  width: 1220px; /* Ajustado para ocupar toda a largura disponível */
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  margin-left: 11.5%;
}

.listagem {
  display: flex;
  justify-content: space-between; /* Para alinhar os produtos um ao lado do outro */
  margin-top: 20px;
}

.produto {
  display: flex;
  flex-direction: column;
  /* align-items: center; Centralizar conteúdo horizontalmente */
  justify-content: center;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  width: 300px; /* Ajustado para um tamanho fixo */
  height: 400px;
  padding: 20px;
  background-color: #fff; /* Cor de fundo do card */
  margin-right: 90px; 
  margin-left: 30px;
  cursor: pointer;
}

.produto:hover{
  .nomeProduto{
    color: #3483FA;
  } 
}

.produto img {
  width: 200px; /* Ajustado para ocupar todo o espaço disponível */
  max-width: 246px; /* Limitar o tamanho máximo da imagem */
  margin-bottom: 16px; /* Espaçamento abaixo da imagem */
}

.nomeProduto {
  margin-top: 8px; /* Reduzir o espaçamento entre o nome do produto e a imagem */
  font-weight: 400;
  font-size: 14px; 
  width: 100%;
}

.valorProduto {
  margin-top: 12px; /* Espaçamento acima do preço */
  font-size: 24px; /* Tamanho do preço ajustado */
  font-weight: 400; /* Ajustado para um peso normal */
}

.title {
  margin-top: 20px;
  font-size: 20px; 
  font-weight:600;
}

.imgProduto{
  width: 100px;
  height: 200px;
}