/* components/layout/pagination.module.css */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007bff; /* Cor do botão */
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pagination button:disabled {
    background-color: #cccccc; /* Cor do botão desativado */
    cursor: not-allowed;
}

.pagination span {
    font-size: 16px;
    margin: 0 10px;
}
