.principal {
    background-color: #fff;
    width: 1220px; 
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-left: 11.5%;
    height: 500px;
  }
  
  .listagem {
    display: flex;
    gap: 44px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    background-color: #fff;
    margin-right: 50px; 
    margin-left: 30px;
    cursor: pointer;
  }

  
  
  .produto img {
    width: 100%; 
    max-width: 170px;
    height: 190px;  
    margin-bottom: 16px; 
    object-fit: cover; 
  }
  
  .nomeProduto {
    margin-top: 8px; 
    font-size: 14px;
    font-weight: 400; 
  }

  .produto:hover{
    .nomeProduto{
      color: #3483FA;
    } 
  }
  
  .valorProduto {
    margin-top: 12px; 
    font-size: 20px; 
    font-weight: 400; 
  }
  
  .title {
    margin-top: 20px;
    font-size: 20px; 
    font-weight: 600;
  }

  
  